<a [href]="spotifyLink" id="current-song-spotify-link" target="_blank">
  <img [src]="currentSongImg" id="current-song-img">
  <div>
    <p id="current-song-text-title">{{title.length >= 22 ? ((title | slice:0:22) + '...') : title}}</p>
    <p id="current-song-text-author">{{author}}</p>
  </div>
</a>
<!-- TODO -->
<img src="assets/imgs/play.svg" alt="Play Button" [ngStyle]="{'display': player.isPlaying ? 'none' : ''}"
  (click)="player.play(); player.isPlaying = !player.isPlaying; " class="current-song-toggle-buttons">
<img src="assets/imgs/pause.svg" alt="Pause Button" [ngStyle]="{'display': player.isPlaying ? '' : 'none'}"
  (click)="player.pause(); player.isPlaying = !player.isPlaying;" class="current-song-toggle-buttons">
<!-- <div id="bar"></div> -->
<ng-template appHotkey="l" [hotkeyCallback]="player.next" [hotkeyIgnoreClasses]="['searchbar']"></ng-template>
<ng-template appHotkey="j" [hotkeyCallback]="player.previous" [hotkeyIgnoreClasses]="['searchbar']"></ng-template>
<ng-template appHotkey="k" [hotkeyCallback]="togglePlay" [hotkeyIgnoreClasses]="['searchbar']"></ng-template>