<a [href]="player.spotifyLink" id="current-song-spotify-link" target="_blank">
  <img [src]="player.currentSongImg" id="current-song-img">
  <div>
    <p id="current-song-text-title">{{player.title.length >= 22 ? ((player.title | slice:0:22) + '...') : player.title}}
    </p>
    <p id="current-song-text-author">{{player.author}}</p>
  </div>
</a>

<img src="assets/imgs/play.svg" alt="Play Button" [ngStyle]="{'display': player.isPlaying ? 'none' : ''}"
  (click)="player.play(); player.isPlaying = !player.isPlaying; " class="current-song-toggle-buttons">
<img src="assets/imgs/pause.svg" alt="Pause Button" [ngStyle]="{'display': player.isPlaying ? '' : 'none'}"
  (click)="player.pause(); player.isPlaying = !player.isPlaying;" class="current-song-toggle-buttons">

<ng-template appHotkey="l" (onHotKey)="next()"
  [hotkeyIgnoreClasses]="['searchbar']"></ng-template>
<ng-template appHotkey="j" (onHotKey)="previous()"
  [hotkeyIgnoreClasses]="['searchbar']"></ng-template>
<ng-template appHotkey="k" (onHotKey)="togglePlay()"
  [hotkeyIgnoreClasses]="['searchbar']"></ng-template>