<app-header title="Suche"></app-header>
<app-filterWindow [ngStyle]="{'display': showFilterWindow ? '' : 'none'}"></app-filterWindow>
<div>
  <input type="text" [placeholder]="placeholderText" appHotkey="Enter" (onHotKey)="search()" [hotkeyFocusRequired]="hotkeyFocusRequired" id="search" autocomplete="off"
    [value]="query" class="searchbar">
  <span id="filter">
    <img src="assets/imgs/filter.svg" alt="Filter" (click)="toggleFilterWindow()">
  </span>
  <img src="assets/imgs/search.svg" alt="Search" (click)="search()">
</div>
<div id="output" [ngStyle]="{'display': albums.length === 0 ? 'none' : ''}">
  <app-songListPreview [songs]="albums" listTitle="Albums"></app-songListPreview>
  <app-songListPreview [songs]="tracks" listTitle="Tracks"></app-songListPreview>
  <app-artistListPreview [artists]="artists" listTitle="Artists"></app-artistListPreview>
  <app-songListPreview [songs]="lastReleases" listTitle="Last Releases"></app-songListPreview>
</div>
<app-footer></app-footer>
<app-currentSong></app-currentSong>
<app-navbar [siteIndex]="1"></app-navbar>