<app-header title="Home"></app-header>
<app-songListPreview [songs]="topSongs" listTitle="Top Songs"></app-songListPreview>
<app-artistListPreview [artists]="topArtists" listTitle="Top Artists"></app-artistListPreview>
<app-songListPreview [songs]="lastReleasesByTopArtist" listTitle="Last Releases"></app-songListPreview>
<app-songListPreview [songs]="lastSinglesByTopArtists" listTitle="Last Singles"></app-songListPreview>
<app-songListPreview [songs]="lastAlbumsByTopArtists" listTitle="Last Albums"></app-songListPreview>
<app-footer></app-footer>
<app-currentSong></app-currentSong>
<app-navbar [siteIndex]="0"></app-navbar>